# Ex - GroupBy

### Introduction:

GroupBy can be summarizes as Split-Apply-Combine.

Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

Check out this [Diagram](http://i.imgur.com/yjNkiwL.png)  
### Step 1. Import the necessary libraries

In [12]:
import pandas as pd
import numpy as np

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/drinks.csv).

### Step 3. Assign it to a variable called drinks.

In [33]:
drinks = pd.read_csv('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/drinks.csv')
print(drinks)

         country  beer_servings  spirit_servings  wine_servings  \
0    Afghanistan              0                0              0
1        Albania             89              132             54
2        Algeria             25                0             14
3        Andorra            245              138            312
4         Angola            217               57             45
..           ...            ...              ...            ...
188    Venezuela            333              100              3
189      Vietnam            111                2              1
190        Yemen              6                0              0
191       Zambia             32               19              4
192     Zimbabwe             64               18              4

     total_litres_of_pure_alcohol continent
0                             0.0        AS
1                             4.9        EU
2                             0.7        AF
3                            12.4        EU
4                             5.9        AF
..                            ...       ...
188                           7.7        SA
189                           2.0        AS
190                           0.1        AS
191                           2.5        AF
192                           4.7        AF

[193 rows x 6 columns]

### Step 4. Which continent drinks more beer on average?

In [37]:
beer_consumption_per_continent = drinks.groupby('continent')['beer_servings'].mean()
print(beer_consumption_per_continent.idxmax())

EU

### Step 5. For each continent print the statistics for wine consumption.

In [39]:
wine_consumption_per_continent = drinks.groupby('continent')['wine_servings'].mean()
print(wine_consumption_per_continent)

continent
AF     16.264151
AS      9.068182
EU    142.222222
OC     35.625000
SA     62.416667
Name: wine_servings, dtype: float64

### Step 6. Print the mean alcoohol consumption per continent for every column

In [40]:
mean_alc_consumption_per_continent = drinks.groupby('continent')['total_litres_of_pure_alcohol'].mean()
print(mean_alc_consumption_per_continent)

continent
AF    3.007547
AS    2.170455
EU    8.617778
OC    3.381250
SA    6.308333
Name: total_litres_of_pure_alcohol, dtype: float64

### Step 7. Print the median alcoohol consumption per continent for every column

In [41]:
median_alc_consumption_per_continent = drinks.groupby('continent')['total_litres_of_pure_alcohol'].median()
print(median_alc_consumption_per_continent)

continent
AF     2.30
AS     1.20
EU    10.00
OC     1.75
SA     6.85
Name: total_litres_of_pure_alcohol, dtype: float64

### Step 8. Print the mean, min and max values for spirit consumption.
#### This time output a DataFrame

In [42]:
spirit_consumption = drinks.groupby('continent')['spirit_servings'].mean()
print(spirit_consumption)
print(spirit_consumption.idxmax())
print(spirit_consumption.idxmin())

continent
AF     16.339623
AS     60.840909
EU    132.555556
OC     58.437500
SA    114.750000
Name: spirit_servings, dtype: float64
EU
AF